.cartBody {
    width: 100%;
    padding: 0 40px;
    color: #333;
    background-color: #eee;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: -17px 20px 5px 0px rgba(179, 179, 179, 0.7);
}

.title { 
    text-align: left;
    margin-left: 10px;
 }

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cartHeader span {
    /* display: inline-block; */
    width: 100px;
    text-align: center;
}

.product { margin-left: 2rem; }

.info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 900px) {
    .cartBody {
        width: 100%;
        overflow-y: scroll;
    }

    .product { 
        margin: 0;
        max-width: 100px;
    }

    .cartHeader span {
        width: 50px;
        margin: 0 20px;
    }
}

@media only screen and (max-width: 560px) {
    .info .price {
        display: none;
    }

    .cartHeader span {
        width: 50px;
        margin: 0 8px;
    }
}