.cartBody {
    flex: 2;
    padding: 0 40px;
    color: #333;
    margin: 20px;
    background-color: #eee;
    border-radius: 10px;
}

.title { text-align: left; }

.cartHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cartHeader span {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.product { margin-left: 2rem; }

.info { display: inline-block; }

@media only screen and (max-width: 900px) {
    .cartBody {
        width: 100%;
    }
}