.signInBg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
}

.signIn {
    max-width: 400px;
    max-height: 80vh;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    overflow-y: scroll;
    z-index: 11;
}

form { padding: 0 20px; }

.radioContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/* There have to be styles here that can be moved to inputbase.css */

.sign-in .radioContainer label { font-size: 16px; }

.signIn label { font-size: 14px; }

.radioContainer input { margin-right: 0.75rem; }

.inputs { margin-right: 10px; }

.inputs input, 
.btnWrapper input {
    display: block;
    width: 100%;
    padding: 0.35rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #333;
    line-height: 1.6;
}

.inputs input:focus {
    outline: none;
    background-color: #e7f0ff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.btnWrapper {
    margin-top: 1rem;
    text-align: center;
}

.btnWrapper input[type="submit"] {
    background: #000;
    border: 1px solid #000;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
}

.password {
    position: relative;
}

.line { 
    display: flex;
    margin: 0.75rem 0;
    font-size: 0.75rem;
 }

.rule { width: 40%; }

.btnWrapper .facebook input[type="submit"] {
    background: #1877f2;
    border: 1px solid #1877f2;
    padding: 0.25rem 0.5rem;
}

form .cancel { 
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85rem;
    display: block;
    width: 100px;
    margin: 0 auto;
    border: none;
    background-color: #fff;
    margin-top: 1rem;
 }

.tos { margin-top: 1rem; }

.tos a { 
    color: #333;
    margin: 0 0.5rem;
    font-size: 0.75rem;
}