.itemContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 2rem;
    background-color: #eee;
    color: #333;
    border-radius: 10px;
    box-shadow: -17px 20px 5px 0px rgba(0,0,0,0.75);
}

/* .imgContainer { border-radius: 10px; } */

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.itemName { margin-bottom: 10px; }

.price { 
    margin-bottom: 10px;
    font-size: 12px;
 }

.add {
    /* border: none;
    margin-bottom: 0.5rem;
    line-height: 1.75;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    transition: all 300ms; */
    margin-bottom: 20px;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #eee;
    color: #333;
    transition: all 200ms;
}

.add:hover {
    background-color: #333;
    color: #eee;
}