.containerHeader {
    text-align: center;
    color: #eee;
    margin-bottom: 30px;
    font-size: 25px;
}

.shopContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
