.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34;
    color: #eee;
    overflow-y: scroll;
}

.hero {
    height: 70vh;
    width: 100%;
    background-image: url(../../assets/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.displayShop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
