.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34;
    color: #eee;
    overflow-y: scroll;
}

.hero {
    height: 70vh;
    width: 100%;
    background-image: url(../../assets/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

.gear a {
    text-decoration: none;
    color: #eee;
}

.login, .cart { 
    cursor: pointer;
    transition: all 200ms;
 }

.login:hover, .cart:hover { color: #333;}

.login {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    color: #eee;
    font-size: 1rem;
}