.checkoutBg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 20;
    padding: 0 15px;
}

.close {
    width: 50px;
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    top: 30px;
    left: 0;
    right: 30px;
}

.checkoutBody {
    width: 100%;
    display: flex;
    gap: 20px;
}

h3 { color: #333;}

@media only screen and (max-width: 900px) {
    .checkoutBody {
        flex-direction: column;
        padding: 40px;
        justify-content: center;
        align-items: center;
    }
}