.checkoutBg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 20;
    padding: 0 15px;
}

.close {
    width: 50px;
    margin-top: 80px;
    margin-left: auto;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    opacity: 0.7;
}

.close:hover {
    opacity: 1;
    z-index: 20;
}

.checkoutBody {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

h3 { color: #333;}

.checkoutBtn {
    background-color: red;
    /* outline: none;
    border: none; */
    border-radius: 50px;
    padding: 5px 10px;
    width: 150px;
    position: absolute;
    bottom: 20px;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutBtn input {
    background-color: transparent;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
}

@media only screen and (max-width: 900px) {
    .checkoutBody {
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }

    .checkoutBtn {
        right: 50%;
        left: 50%;
    }
}