.headerBg {
    background-color: rgba(51, 51, 51, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    max-height: 75px;
}

.gear a {
    text-decoration: none;
    color: #eee;
}

.links {
    display: flex;
    align-items: center;
}

.login, .cart { 
    cursor: pointer;
    transition: all 200ms;
    font-size: 20px;
 }

.login:hover, .cart:hover { color: #333;}

.login {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    color: #eee;
    font-size: 1rem;
}

.cart {
    position: relative;
}

.cartCount {
    position: absolute;
    top: 10px;
    z-index: 50;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: 700;
    cursor: pointer;
}