.headerBg {
    background-color: rgba(51, 51, 51, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

.gear a {
    text-decoration: none;
    color: #eee;
}

.login, .cart { 
    cursor: pointer;
    transition: all 200ms;
 }

.login:hover, .cart:hover { color: #333;}

.login {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    color: #eee;
    font-size: 1rem;
}