
.inputContainer { 
    position: relative;
    margin-bottom: 1rem;
 }

 .input {
    display: block;
 }

.eye {
    position: absolute;
    right: 0;
    top: 33px;
    margin-right: 10px;
}

.error { 
    padding-top: 0.5rem;
    color: red;
}
