.paymentContainer {
    width: 100%;
    padding: 0 40px;
    color: #333;
    margin: 20px;
    background-color: #eee;
    border-radius: 10px;
}

.paymentContainer input {
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    line-height: 2;
}

@media only screen and (max-width: 900px) {
    .paymentContainer {
        width: 100%;
        padding: 20px;
        margin-top: 2rem;
    }
}